@{
    ViewData["Title"] = "Error";
}

<h1>404</h1>
<div>
    <h4>Oops, sorry we cannot find that page!</h4>
    <p>Either something went wrong  or the doesn't exist anymore.</p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>